[user]
  name = max-allen
  email = contact@maxallen.io
[credential]
  helper = osxkeychain
[core]
  editor = code --wait
[alias]
  mit = "commit -m"
  out = "checkout"
  new = "checkout -b"
  down = "pull origin"
  up = "push origin"